/* Pequenas telas: até 600px
   Grandes telas: acima de 1200px
   Celular: 600px a 768px
   Tablet: 768px a 992px */

@media screen and (min-width: 768px) {
    #menu {
        display: none;
    }
    .menu {
        display: inline-block;
        padding-right: 4px;
    }
}