* {
    padding: 0px;
    margin: 0%;
}

header {
    display: flex;
    height: 900px;
    width: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(img/fundo.png);
    background-size: cover;
}

header nav {
    display: flex;
    width: 100%;
    height: 50px;
    padding-left: 170px;
    justify-content: space-evenly;
    padding-top: 20px;
    background-color: #507335;
    
}

.container-nav > a:link {
    text-decoration: none;
    color: white;
}


.perfil {
    height: 350px;
    border-radius: 100%;
}

.item-nav {
    font-size: 25px;
    color: white;
    padding-bottom: 20px;
}

#button-nav {
    padding-bottom: 50px;
}

#button-nav > button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #507335;
    border-style: none;
    font-size: 20px;
    color: white;
}

.container-main {
    height: 750px;
    width: auto;
    background-color:  #507335;
}
.item-main {
    display: flex;
    justify-content: space-between;
}

.img-intro {
    height: 750px;
    width: 700px;
}

.container-disciplinas {
    height: 750px;
    width: auto;
    background-color: lightcyan;
}