* {
    padding: 0px;
    margin: 0%;
}

header {
    display: flex;
    height: 900px;
    width: auto;
    flex-direction: column;
    align-items: center;
    background-image: url(img/fundo-preto.png);
    background-size: cover;
}

header nav {
    display: flex;
    width: 100%;
    height: 50px;
    padding-left: 170px;
    justify-content: space-evenly;
    padding-top: 20px;
    
}

.container-nav > a:link {
    text-decoration: none;
    color: #A6945D;
}

.container-nav > a:visited {
    color: #A6945D;
}

.perfil {
    height: 350px;
    border-radius: 100%;
}

.itensH {
    display: flex;
    align-items: center;
    padding-top: 200px;
    gap: 200px;
}

.item-nav {
    font-size: 30px;
    color: #BFB749;
}


.container-main {
    height: 750px;
    width: auto;
    background-color:  #595136;
}
.item-main {
    display: flex;
    justify-content: space-between;
}

.container-disciplinas, .container-publicacoes {
    height: 750px;
    width: auto;
    background-color: #0D0D0D;
    color:#A6945D;
}

#buttonH {
    height: 40px;
    border-radius: 1px;
    width: 200px;
    background-color:#0D0D0D;
    border-color: #A6945D;
    color: #BFB749;
    cursor: pointer;
}

footer {
    background-color: #595136;
    height: 300px;
}
