img {
    height: 300px;
    width: 200px;
    border: 5px solid purple;
    padding: 20px;
}

h1 {
    color: purple;
}

.bolinha {
    width: 300px;
    border-radius: 50%;
}

div {
    width: 200px;
    height: 100px;
}

.uau {
    overflow: scroll;
    color: purple;
}

* {
    margin: 0;
    padding: 0;
}