* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container-nav {
    height: 130px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

img {
    height: 100px;
}
.logo {
    font-size: 25px;
}

#burguer {
    background-color: rgb(42, 37, 37);
    color: white;
    text-align: center;
    padding: 10px;
    display: block;
    cursor: pointer;
}

#burguer:hover {
    background-color: white;
    color: black;
}

.menu {
    display: none;
    font-size: 25px;

}
.menu > ul {
    list-style-type: none;
}

.menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: white;
    border-top: 2px solid gray;
}
