.flex-container {
    display: flex;
    background-color: #1C542B;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flex-item {
    background-color: #46D46C;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}



