* {
  margin: 0%;  
  padding: 0%;
  box-sizing: border-box;
}

.container {
    display: flex;
    height: 1080px;
    justify-content: center;
    background-color: gray;
    padding-top: 10px;
}


.container-nav {
    display: flex;
    width: 470px;
    height: 930px;
    background-color: white;
    flex-direction: column;
}

.nav-bar {
    height: 37px;
    width: 429px;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 11px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.iconsnav {
    display: flex;
    gap: 15px;
}


.user1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.infos {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    gap: 10px;
}

.in {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil > img {
    border-radius: 100%;
    height: 130px;
}

.botoes {
    width: 434px;
    height: 40px;
    display: flex;
    gap: 5px;
    padding-left: 20px;
}

.botoes > button {
    width: 190px;
    height: 40px;
    background-color: lightgrey;
    border: lightgrey 2px solid;
    border-radius: 5px;
    cursor: pointer;
}

.botoes > #ub {
    width: 40px;
    height: 40px;
}

.destaques {
    display: flex;
    padding-top: 10px;
    padding-left: 21px;
    width: 474px;
    height: 78px;
    gap: 5px;
}
.d {
    display: flex;
    height: 78px;
    width: 78px;
    align-items: center;
    flex-direction: column;
}

.d > img {
    border-radius: 100%;
    height: 78px;
    width: 78px;
}

.d > p {
    font-size: 15px;
}

.emojisfeed, .emojisfeed > img {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.emojisfeed > img {
    height: 28px;

}

.emojisfeed > i, .emojisfeed > img {
    cursor: pointer;
}

.feed {
    width: 470px;
    display: grid;
    grid-template-columns: repeat(3, 156px);
    gap: 1px;

}

.feed > img {
    width: 156px;
}
