* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    display: flex;
    height: 750px;
    background-image: url(img/fundo.jpg);
    background-size: cover;
    align-items: center;
    flex-direction: column;
}

.container-nav {
    display: flex;
    height: 100px; 
}

.perfil {
    height: 350px;
    border-radius: 100%;
}

.item-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: #A6945D;
    padding-bottom: 20px;
    gap: 80px;
}

.menu {
    font-size: 20px;
    padding: 10px;
    padding-left: 850px;
}

.menu > a:link {
    text-decoration: none;
    color: #D9CEBA;
}

.menu > a:visited {
    color: #D9CEBA;
}

#buttonH {
    height: 40px;
    border-radius: 10px;
    width: 200px;
    background-color:#0D0D0D;
    border-color: #D9CEBA;
    color: #D9CEBA;
    cursor: pointer;
}

footer {
    display: flex;
    height: 400px;
    background-color: #0D0D0D; 
    color: #A6945D;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;

}

main {
    height: 750px;
    background-color: #A6945D;
    color: #0D0D0D;
}

main > a:link {
    color: #A6945D;
    text-decoration: none;
}

.contato, .email, .redesS {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}

.contato {
    padding-top: 50px;
    padding-left: 45px;
}

.email, .redesS {
    padding-top: 20px;
    padding-left: 50px;
}

.redesS > a:link {
    color: #A6945D;
    text-decoration: none;
    font-size: 40px;
}

.redesS > a:visited {
    color: #A6945D;
}
