img {
    height: 120px;
    width: 150px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: groove purple;

}

.titulos {
    font-family: Cambria;
    color: purple;

}

p, ul {
    font-family: "arial narrow";
    
}

#meio {
    margin: auto;
    text-align: center;

}